<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../style/universal.css" rel="stylesheet" type="text/css">
  <title></title>
</head>

<body>
  <!-- Begin Nav -->
  <div id="navBar">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a id="currentPage" href="aboutme.html">About Me</a></li>
      <li><a href="hackshack/index.html">Hack Shack</a></li>
    </ul>
  </div>
  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger">&#9776; Menu</label>
  <div id="pageWrapper">
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a id="currentPage" href="aboutme.html">About Me</a></li>
        <li><a href="hackshack/index.html">Hack Shack</a></li>
      </ul>
    </nav>
    <!-- End Nav -->

    <header class='norm'>
    </header>
    <div class="content">
    </div>
    <footer>
      <span>
        Everything on this site is owend by Ethan Fahnestock (c) 2015, unless otherwise stated.
      </span>
    </footer>
  </div>
</body>
</html>
