


/*
____  _
|  _ \| |
| |_) | | ___   __ _
|  _ <| |/ _ \ / _` |
| |_) | | (_) | (_| |
|____/|_|\___/ \__, |
               __/ |
              |___/
*/
#mainBlog {
  background-color: rgb(245, 245, 245);
}
header {
  width:100%;
  position:relative;
  margin-bottom:5px;
  padding:0;
}
header img {
  width:100%;
}
header h1 {
   position: absolute;
   background-color:rgba(0, 0, 0, 0.8);
   color:rgb(200, 200, 200);
   font-size: 3em;
   padding:10px;
   width:500px;
   top:150px;
   right:0px;
}
#intro {
  display:none;
}
.post {
  background-color: rgb(255, 255, 255);

  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.post h2 {
  margin-top: 10px;
  font-size: 25px;
}
.vidPost {
  width:90%;

  display:block;
  margin: 0 auto;
}
.pictures ul {
  padding-left:5px;
}
.pictures ul li {
  list-style-type: none;
  display:inline;
}
.pictures ul li a {
  text-decoration: none;

}
.pictures ul li a.1:hover {

}
.pictures ul li a img {
  width:100px;
}

/*
_____                 _
|  __ \               (_)
| |__) |   ___   ___   _   ____   ___
|  _  /   / _ \ / __| | | |_  /  / _ \
| | \ \  |  __/ \__ \ | |  / /  |  __/
|_|  \_\  \___| |___/ |_| /___|  \___|
*/
@media (max-width:900px) {
  header h1 {
    display:none;
  }
  #intro {

    display:block;
    margin:0;
    padding:3px;
    margin-top: 5px;
    background-color:rgb(31,31,31);
    color:rgb(200,200,200);
    font-size: 3em;

  }
}
@media (min-width:900px) {
  header h1 {
    display:block;
  }
}
@media (max-width:830px) {
  .post {
    padding:10px;
    margin-bottom:10px;
  }
}
@media (min-width:830px) {
  .post {
    padding:15px;
    padding-top:1px;
    width:800px;
    margin: 10px auto;
    margin-bottom:20px;
  }
  .vidPost {
    height: 400px;
  }
}
