/* word art http://patorjk.com/software/taag/#p=display&h=0&f=Big&t=exampleWord
            _   _
    /\     | | | |
   /  \    | | | |
  / /\ \   | | | |
 / ____ \  | | | |
/_/    \_\ |_| |_|
*/


/*GOOGLE FONTS*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
/*Page Formatting*/
body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Lato;
}
footer {
  background-color: rgb(31, 31, 31);
  height: 100px;
  line-height: 100px;
  text-align: center;
  padding: 10px;
  position: relative;
}
footer span {
  position: absolute;
  top:50%;
  line-height: normal;
  transform: translate(-50%,-50%);
  color: rgb(230, 230, 230);
  display: inline-block;
}
#contentHome {
  position: relative;
  top: -60px;
  margin: 0 auto;
}
#wholePage {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  left: 0px;
  top: 0;
  z-index: 4;
  background-color: white;
}

/*Navigation*/
nav {
  z-index: 10;
  position: relative;
}
nav ul {
  background-color: rgb(31, 31, 31);
  width: 90%;
  height: 60px;
  margin: 0;
  padding-left: 10%;
}
nav ul li {
  display: inline;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  float: left;
  line-height: 59px;
  color: rgb(200, 200, 200);
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgb(31, 31, 31);
}
#currentPage {
  color: rgb(240, 240, 240);
}
nav ul li a:hover {
  color: rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
}
#navBar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(31, 31, 31);
}
#navBar ul {
  list-style-type: none;
  font-family: Lato;
  padding:0;
}
#navBar ul li {
  width:215px;
}
#navBar ul li a {
  display:inline-block;
  text-decoration: none;
  font-size: 20px;
  line-height: 59px;
  color: rgb(200, 200, 200);
  text-align: center;
  width:215px;
}

#navBar ul li a:hover {
  color: rgb(240, 240, 240);
  -webkit-box-shadow: inset 0px 0px 22px -1px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 22px -1px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 22px -1px rgba(0,0,0,1);
}
label[for="nav-trigger"] {
  /* critical positioning styles */
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 50;
  /* non-critical apperance styles */
  color: rgb(200, 200, 200);
  font-size: 20px;
}
.nav-trigger {
  display: none;
}
label, #wholePage {
  transition: left 0.2s;
}
.nav-trigger:checked + label {
  left: 230px;
}
.nav-trigger:checked ~ #wholePage {
  left: 215px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
a#currentPage {
  color: rgb(250, 250, 250);
}
#navBar ul li a#currentPage {
  color: rgb(250, 250, 250);
}
/*
_    _
| |  | |
| |__| |   ___    _ __ ___     ___
|  __  |  / _ \  | '_ ` _ \   / _ \
| |  | | | (_) | | | | | | | |  __/
|_|  |_|  \___/  |_| |_| |_|  \___|
*/

header.home {
  width: 100%;
  position: relative;
  top: -60px;
  z-index: 1;
  height: 100vh;
  margin-bottom: 5px;
  padding: 0;
  background-image: url('../image/banner.jpg');
  background-position: center;
  background-size: cover;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
header h1 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(200, 200, 200);
  font-size: 3em;
  padding: 10px;
  width: 500px;
  top: 150px;
  right: 0px;
}

div.arrow {
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(31, 31, 31);
  animation-duration: 2s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
@keyframes arrowChange {
  0% {
    border-top: 20px solid rgb(31, 31, 31);
    top: 90vh;
  }
  50% {
    border-top: 20px solid rgb(99, 99, 99);
    top: 92vh;
  }
  100% {
    border-top: 20px solid rgb(31, 31, 31);
    top: 90vh;
  }
}
@keyframes arrowChange2 {
  0% {
    border-top: 20px solid rgb(31, 31, 31);
    top: 450px;
  }
  50% {
    border-top: 20px solid rgb(99, 99, 99);
    top: 470px;
  }
  100% {
    border-top: 20px solid rgb(31, 31, 31);
    top: 450px;
  }
}
div.rightArrow {
  position: relative;
  left: 0;
  width: 0;
  float: left;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 100px solid rgb(71, 71, 71);
}
.section {
  width: 100%;
  height: 250px;
  position: relative;
}
.section p {
  margin-left: 10px;
  margin-right: 210px;
}
img.circleImage {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
}


/*
 _____                 _
|  __ \               (_)
| |__) |   ___   ___   _   ____   ___
|  _  /   / _ \ / __| | | |_  /  / _ \
| | \ \  |  __/ \__ \ | |  / /  |  __/
|_|  \_\  \___| |___/ |_| /___|  \___|
*/
@media (min-width:400px) {
  #navBar {
    display: none;
  }
  label[for="nav-trigger"] {
    display: none;
  }
}
@media (max-width:400px) {
  #navBar {
    display: block;
  }
  label[for="nav-trigger"] {
    display: block;
  }
  nav ul li {
    display: none;
  }
}
@media (min-width: 815px) {
  #contentHome {
    width: 800px;
  }
  div.arrow {
    top: 90vh;
    animation-name: arrowChange;
  }
}
@media (max-width: 815px) {
  #contentHome {
    padding: 0 10px;
  }
  img.circleImage {
    position: static;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  .section p {
    position: relative;
    margin: 0;
  }
  .section {
    height: auto;
    position: relative;
    padding: 0px;
    margin: 0;
  }
  header.home {
    height: 500px;
  }
  div.arrow {
    top: 450px;
    animation-name: arrowChange2;
  }
}
/*TODO: fix the resizing footer and blog header*/
