@import url(http://fonts.googleapis.com/css?family=Cherry+Cream+Soda);
/*color schemes
dark blue of logo: #000033

*/
html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
	font-family: 'Cherry Cream Soda', cursive;
}

p {
	font-size:20px;
}

h1 {
	font-size:46px;
}

h2 {
	font-size:36px;
}

#introPic, #afterPic {
	position:fixed;
	z-index:50;
	top:0;
	left:0;
	width:100%;
	height:500px;
	z-index:48;
	background-image:url(images/orhsIntro.jpg);
	background-size: cover;
}
#afterPic {
	background-image:url(images/orhsSecond.jpeg);
}
#properties {
	position:fixed;
	width:100%;
	height:100%;
	background: rgba(255,255,255,1);
	z-index:49;
}
#footer {
	position:fixed;
	width:100%;
	height:30%;
	text-align:center;
	background: rgba(255,255,255,1);
	z-index:49;
}
#navBar {
	position:fixed;
	width:100%;
	height:10%;
	background: rgba(255,255,255,1);
	z-index:50;
}
#navBar ul {
	float:right;
	list-style-type: none;
    margin: 0;
    padding: 0;
	height: 200%;

}
#navBar ul li {
	padding-right:15px;
	display:inline-block;
	height: 100%;
}
#navBar ul li a {
	color:#636363;
	padding:0;
	padding-top:25px;
	display:inline-block;
	height: 69%;
	text-decoration:none;
}
#navBar ul li a:hover {
	color:#000033;
}
#navBar ul li:last-child {
	margin-right:50px;
}

#navBar img {
	padding-top:5px;
	height:85%;
	padding-left:30px;
}